<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConwaysGOL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ConwaysGOL.Properties.Settings>
            <setting name="CellX" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CellY" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="CellColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ShowNeighbor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsToroidal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="ShowHUD" serializeAs="String">
                <value>True</value>
            </setting>
        </ConwaysGOL.Properties.Settings>
    </userSettings>
</configuration>